<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignupResponse</servlet-name>
        <servlet-class>SignupResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOtpResponse</servlet-name>
        <servlet-class>CheckOtpResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPhoneResponse</servlet-name>
        <servlet-class>CheckPhoneResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateOtpResponse</servlet-name>
        <servlet-class>GenerateOtpResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginResponse</servlet-name>
        <servlet-class>LoginResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassResponse</servlet-name>
        <servlet-class>ChangePassResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutResponse</servlet-name>
        <servlet-class>UserLogoutResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMemberResponse</servlet-name>
        <servlet-class>AddMemberResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMemberResponse</servlet-name>
        <servlet-class>ShowMemberResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaccineCentersResponse</servlet-name>
        <servlet-class>VaccineCentersResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDatesResponse</servlet-name>
        <servlet-class>BookDatesResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentResponse</servlet-name>
        <servlet-class>BookAppointmentResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAppointmentResponse</servlet-name>
        <servlet-class>ViewAppointmentResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatusResponse</servlet-name>
        <servlet-class>CheckStatusResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAppointmentResponse</servlet-name>
        <servlet-class>CancelAppointmentResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginResponse</servlet-name>
        <servlet-class>StaffLoginResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogoutResponse</servlet-name>
        <servlet-class>StaffLogoutResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffChangePassResponse</servlet-name>
        <servlet-class>StaffChangePassResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCenterAppointmentResponse</servlet-name>
        <servlet-class>ViewCenterAppointmentResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidSignupResponse</servlet-name>
        <servlet-class>android.AndroidSignupResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidOtpResponse</servlet-name>
        <servlet-class>android.AndroidOtpResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidLoginResponse</servlet-name>
        <servlet-class>android.AndroidLoginResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaccinateVerifyResponse</servlet-name>
        <servlet-class>VaccinateVerifyResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaccinationOtpResponse</servlet-name>
        <servlet-class>VaccinationOtpResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPendingAppointments</servlet-name>
        <servlet-class>CheckPendingAppointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidChangePasswordResponse</servlet-name>
        <servlet-class>android.AndroidChangePasswordResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidShowMembersResponse</servlet-name>
        <servlet-class>android.AndroidShowMembersResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidVaccinecentersResponse</servlet-name>
        <servlet-class>android.AndroidVaccinecentersResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginResponse</servlet-name>
        <servlet-class>AdminLoginResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutResponse</servlet-name>
        <servlet-class>AdminLogoutResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCenterResponse</servlet-name>
        <servlet-class>AddCenterResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCenterResponse</servlet-name>
        <servlet-class>DeleteCenterResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidVaccineAvailabilityResponse</servlet-name>
        <servlet-class>android.AndroidVaccineAvailabilityResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CenterLoginResponse</servlet-name>
        <servlet-class>CenterLoginResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CenterLogoutResponse</servlet-name>
        <servlet-class>CenterLogoutResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffResponse</servlet-name>
        <servlet-class>AddStaffResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStaffResponse</servlet-name>
        <servlet-class>ShowStaffResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffResponse</servlet-name>
        <servlet-class>DeleteStaffResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVaccineAvailabilityResponse</servlet-name>
        <servlet-class>AddVaccineAvailabilityResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowVaccineAvailabilityResponse</servlet-name>
        <servlet-class>ShowVaccineAvailabilityResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRowResponse</servlet-name>
        <servlet-class>DeleteRowResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidBookAppointmentResponse</servlet-name>
        <servlet-class>android.AndroidBookAppointmentResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidViewAppointmentResponse</servlet-name>
        <servlet-class>android.AndroidViewAppointmentResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidCancelAppointmentResponse</servlet-name>
        <servlet-class>android.AndroidCancelAppointmentResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidAddMemberResponse</servlet-name>
        <servlet-class>android.AndroidAddMemberResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVaccineResponse</servlet-name>
        <servlet-class>AddVaccineResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowVaccineResponse</servlet-name>
        <servlet-class>ShowVaccineResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVaccineResponse</servlet-name>
        <servlet-class>DeleteVaccineResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupResponse</servlet-name>
        <url-pattern>/SignupResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOtpResponse</servlet-name>
        <url-pattern>/CheckOtpResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPhoneResponse</servlet-name>
        <url-pattern>/CheckPhoneResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateOtpResponse</servlet-name>
        <url-pattern>/GenerateOtpResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginResponse</servlet-name>
        <url-pattern>/LoginResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassResponse</servlet-name>
        <url-pattern>/ChangePassResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutResponse</servlet-name>
        <url-pattern>/UserLogoutResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMemberResponse</servlet-name>
        <url-pattern>/AddMemberResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMemberResponse</servlet-name>
        <url-pattern>/ShowMemberResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaccineCentersResponse</servlet-name>
        <url-pattern>/VaccineCentersResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDatesResponse</servlet-name>
        <url-pattern>/BookDatesResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentResponse</servlet-name>
        <url-pattern>/BookAppointmentResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAppointmentResponse</servlet-name>
        <url-pattern>/ViewAppointmentResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStatusResponse</servlet-name>
        <url-pattern>/CheckStatusResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppointmentResponse</servlet-name>
        <url-pattern>/CancelAppointmentResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginResponse</servlet-name>
        <url-pattern>/StaffLoginResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogoutResponse</servlet-name>
        <url-pattern>/StaffLogoutResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffChangePassResponse</servlet-name>
        <url-pattern>/StaffChangePassResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCenterAppointmentResponse</servlet-name>
        <url-pattern>/ViewCenterAppointmentResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidSignupResponse</servlet-name>
        <url-pattern>/AndroidSignupResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidOtpResponse</servlet-name>
        <url-pattern>/AndroidOtpResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidLoginResponse</servlet-name>
        <url-pattern>/AndroidLoginResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaccinateVerifyResponse</servlet-name>
        <url-pattern>/VaccinateVerifyResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaccinationOtpResponse</servlet-name>
        <url-pattern>/VaccinationOtpResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPendingAppointments</servlet-name>
        <url-pattern>/CheckPendingAppointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidChangePasswordResponse</servlet-name>
        <url-pattern>/AndroidChangePasswordResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidShowMembersResponse</servlet-name>
        <url-pattern>/AndroidShowMembersResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidVaccinecentersResponse</servlet-name>
        <url-pattern>/AndroidVaccinecentersResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginResponse</servlet-name>
        <url-pattern>/AdminLoginResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutResponse</servlet-name>
        <url-pattern>/AdminLogoutResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCenterResponse</servlet-name>
        <url-pattern>/AddCenterResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCenterResponse</servlet-name>
        <url-pattern>/DeleteCenterResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidVaccineAvailabilityResponse</servlet-name>
        <url-pattern>/AndroidVaccineAvailabilityResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CenterLoginResponse</servlet-name>
        <url-pattern>/CenterLoginResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CenterLogoutResponse</servlet-name>
        <url-pattern>/CenterLogoutResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffResponse</servlet-name>
        <url-pattern>/AddStaffResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStaffResponse</servlet-name>
        <url-pattern>/ShowStaffResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffResponse</servlet-name>
        <url-pattern>/DeleteStaffResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVaccineAvailabilityResponse</servlet-name>
        <url-pattern>/AddVaccineAvailabilityResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowVaccineAvailabilityResponse</servlet-name>
        <url-pattern>/ShowVaccineAvailabilityResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRowResponse</servlet-name>
        <url-pattern>/DeleteRowResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidBookAppointmentResponse</servlet-name>
        <url-pattern>/AndroidBookAppointmentResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidViewAppointmentResponse</servlet-name>
        <url-pattern>/AndroidViewAppointmentResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidCancelAppointmentResponse</servlet-name>
        <url-pattern>/AndroidCancelAppointmentResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidAddMemberResponse</servlet-name>
        <url-pattern>/AndroidAddMemberResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVaccineResponse</servlet-name>
        <url-pattern>/AddVaccineResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowVaccineResponse</servlet-name>
        <url-pattern>/ShowVaccineResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVaccineResponse</servlet-name>
        <url-pattern>/DeleteVaccineResponse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
